{% extends "template.html" %}

{% block script %}
<script>
    function searchBookByCode(code) 
    {
      const type = parseInt(document.getElementById('searchBy').value)
      const table = document.getElementById('usersTableContent')
      var rows = table.getElementsByTagName('tr')
      if(type == 1){
        code = code.toUpperCase()
      }
      for (var i = 0; i < rows.length; i++)
       {
  
        if (code == '') {
          rows[i].classList.remove("hidden")
        }
        else {
          cells = rows[i].getElementsByTagName('td')
          value = cells[type].textContent
          if(type == 1){
            value = value.toUpperCase()
          }
            if (value.startsWith(code)) 
            {
              if(rows[i].classList.contains("hidden"))
              {
                rows[i].classList.remove("hidden")
                rows[i].classList.add("table-row")
              }
            }
            else 
            {
              if(!(rows[i].classList.contains("hidden")))
              {
                rows[i].classList.remove("table-row")
                rows[i].classList.add("hidden")
              }
            }
        }
      
       }
    }


    function selectTypeChange(type)
    {
      const searchInput = document.getElementById('searchInput')
      type = parseInt(type)
      if(type == 0){
        searchInput.placeholder = "Search by User ID"
      }
      else if(type == 1){
        searchInput.placeholder = "Search by User Name"
      }
      else{
        searchInput.placeholder = "Select Valid Input"
      }
    }



</script>
{% endblock %}

{% block title %}
User Registry
{% endblock %}

{% block content %}

<div class="flex flex-col md:flex-row w-full justify-between items-center pr-8">
  <div class="w-full lg:w-1/2 my-2 flex justify-evenly">
    <select onchange="selectTypeChange(this.value)" class="bg-blue-700 font-bold text-white" id="searchBy">
      <option value="0" selected>User Id</option>
      <option value="1">User Name</option>
    </select>
  
    <input id="searchInput" type="text" onkeyup="searchBookByCode(this.value)" placeholder="Search by User ID"
      class="w-2/3 px-4 py-1.5 rounded-lg border-2 border-blue-700 ring-blue-200">
    </span>
  
  </div>
  
  <div class="border-2 border-blue-700 rounded-lg px-2 py-1.5">
    Total Members: {{ users|length }}
  </div>
</div>

<table id="userTable" class="w-full flex-no-wrap sm:bg-white overflow-hidden sm:shadow-lg my-5">

    <tr
    class="text-white bg-blue-700">
    <th class="p-3 text-left">Id</th>
    <th class="p-3 text-left">name</th>
    <th class="p-3 text-left">email</th>
    <th class="p-3 text-left">credit</th>
    <th class="p-3 text-left">Favs</th>
    <th class="p-3 text-left">Actions</th> 
  </tr>

    <tbody id="usersTableContent"> 

      {% for user in users %}

      <tr id="{{ user.id }}" class="border-blue-900 border-2 border-t-0 mb-2 sm:mb-0 hover:bg-blue-50 mb-2">
        <td class="border-blue-900 border p-2 text-center">{{ user.id }}</td>
        <td class="border-blue-900 border p-2 text-center">{{ user.fname }} {{ user.lname }}</td>
        <td class="border-blue-900 border p-2 text-center">{{ user.email }}</td>
        <td class="border-blue-900 border p-2 text-center">{{ user.credit }}</td>
        <td class="border-blue-900 border p-2 text-center">{{ user.favourites|length }}</td>
        <td class="border-blue-900 border p-2 text-center">            
          <a href="{{ user.id }}"
          class="text-center text-lg py-1 px-2 border-green-600 border rounded-xl bg-green-700 text-white hover:bg-green-900"><i class="fas fa-edit"></i>
        </a></td>
      </tr>

      {% endfor %}

    </tbody>

  </table>

{% endblock %}