<!-- <article>
    <a id="dashboard"
        class="flex items-center pl-3 py-3 pr-4 my-1 text-blue-50 bg-blue-900 border-2 border-blue-900 hover:border-blue-300 rounded-md"
        href="/dashboard">
        <span class="inline-block mr-3">
            <span class="text-blue-600" id="dashboard-icon">
                <i class="text-lg fas fa-chart-line"></i>
            </span>
        </span>
        <span>Dashboard</span>
        <span class="inline-block ml-auto"><svg class="text-blue-400 w-3 h-3" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"vg-3-1"><path d="M9.08329 0.666626C8.74996 0.333293 8.24996 0.333293 7.91663 0.666626L4.99996 3.58329L2.08329 0.666626C1.74996 0.333293 1.24996 0.333293 0.916626 0.666626C0.583293 0.999959 0.583293 1.49996 0.916626 1.83329L4.41663 5.33329C4.58329 5.49996 4.74996 5.58329 4.99996 5.58329C5.24996 5.58329 5.41663 5.49996 5.58329 5.33329L9.08329 1.83329C9.41663 1.49996 9.41663 0.999959 9.08329 0.666626Z" fill="currentColor"></path></svg></span>
    </a>
</article> -->
<section>
    <h3 class="mb-2 text-xl uppercase text-blue-200 font-bold">
        <i class="fas fa-book"></i> Books
    </h3>
    <ul class="mb-8 text-base font-medium">

        <li>
            <a id="books-browse"
                class="flex items-center pl-3 py-3 pr-4 my-1 text-blue-50 border-2 border-blue-900 hover:border-blue-300 rounded-md"
                href="/books/browse">
                <span class="inline-block mr-3">
                    <span class="text-blue-600" id="books-browse-icon">
                        <i class="text-lg fas fa-search"></i>
                    </span>
                </span>
                <span>Browse</span>
                <!-- <button onclick="toggle()" class="z-10 relative ml-auto"><svg class="text-white w-3 h-3" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"vg-3-1"><path d="M9.08329 0.666626C8.74996 0.333293 8.24996 0.333293 7.91663 0.666626L4.99996 3.58329L2.08329 0.666626C1.74996 0.333293 1.24996 0.333293 0.916626 0.666626C0.583293 0.999959 0.583293 1.49996 0.916626 1.83329L4.41663 5.33329C4.58329 5.49996 4.74996 5.58329 4.99996 5.58329C5.24996 5.58329 5.41663 5.49996 5.58329 5.33329L9.08329 1.83329C9.41663 1.49996 9.41663 0.999959 9.08329 0.666626Z" fill="currentColor"></path></svg></button> -->
            </a>
        </li>

        <li>
            <a id="books-favs"
                class="flex items-center pl-3 py-3 pr-4 my-1 text-blue-50 border-2 border-blue-900 hover:border-blue-300 rounded-md"
                href="/books/favs">
                <span class="inline-block mr-3">
                    <span class="text-blue-600" id="books-favs-icon">
                        <i class="text-lg fas fa-heart"></i>
                    </span>
                </span>
                <span>Favourites</span>
                <!-- <button onclick="toggle()" class="z-10 relative ml-auto"><svg class="text-white w-3 h-3" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"vg-3-1"><path d="M9.08329 0.666626C8.74996 0.333293 8.24996 0.333293 7.91663 0.666626L4.99996 3.58329L2.08329 0.666626C1.74996 0.333293 1.24996 0.333293 0.916626 0.666626C0.583293 0.999959 0.583293 1.49996 0.916626 1.83329L4.41663 5.33329C4.58329 5.49996 4.74996 5.58329 4.99996 5.58329C5.24996 5.58329 5.41663 5.49996 5.58329 5.33329L9.08329 1.83329C9.41663 1.49996 9.41663 0.999959 9.08329 0.666626Z" fill="currentColor"></path></svg></button> -->
            </a>
        </li>

        <li>
            <a id="books-history" class="text-base font-medium flex items-center pl-3 py-3 pr-2 text-blue-50 border-2 border-blue-900 hover:border-blue-300 rounded-md my-1"
                            href="/books/history">
                            <span class="inline-block mr-4">
                                <i id="books-history-icon" class="text-blue-600 text-lg fa fa-history" aria-hidden="true"></i>
                            </span>
                            <span>History</span>
                        </a>
        </li>


    </ul>
</section>